textarea {
  width:99%;
  height: 100%;
  margin-left: 3px;
  margin-top: 3px;
  font-size: 15px;
}

.notepad {
  color: white;
  font-size: 23px;
  padding: 0.5px;
  margin-left: 10px;
}

.home {
  background-color: black;
}

.download {
  position:absolute;
  top: 0.7%;
  right: 0.7%;
  background-color: black;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 5%;
}

.download:hover {
  background-color: #ffffff; /* Green */
  color: black;
}